

body {
            width: 75%;
            max-width: 650px;
            min-width: 320px;
            font-size: 100%;
            font-family: 'libre Baskerville', Georgia, Times, 'New Times Roman', serif;
            margin: auto;
            background-color: ivory;
            color: #333;
            line-height: 1.8em;
        }



/*----------- Typography------------------ */
        
        h1, h2 ,h3 {
            
            font-weight: normal;
            color: #c86;
            line-height: 1.3em;
            text-align: center;
            
        }

        
        
        h1 {font-size: 3.375em;}
            
        h2 {font-size: 2.25em;}
            
        h3 {font-size: 1.5em;}

        header h2{
            font-style: italic;
            font-size: 1.8em;
            margin: -.5em 0 1em 0;
        }

        .intro { 
            font-size: 1.25em;
            line-height: 1.9em;
            padding: 2em  0em  2em  0em;
            
        }

        blockquote{

            padding: 2em 0;
            font-size: 1.65em;
            line-height: 1em;
            margin: 0;
            color: #c86;

        }


        cite{
            
            font-size: .7em;
            color: gainsboro;
            
        }


        .anchor {
            text-transform: uppercase;
            font-size: .7em;

        }


        .mail {
            text-transform: capitalize;
            font-size: 100%;
            text-align: center;

        }

        .web {
            text-transform: capitalize;
            font-size: 100%;
            text-align: center;

        }

        .the-man { 
            
            padding: 2em  0em  2em  0em;
            
            }
        
        .the-typeface { 
            
            padding: 2em  0em  2em  0em;
            
            }
        
        .mrs-eaves { 
            
            padding: 2em  0em  2em  0em;
            
            }



/*-------------------Table-------------------- */

        td { 
            
            padding: 30px;
            
            }


            
/*------------------Image Float-------------------*/

            img {
                float: right;
                margin: 0 0 10px 10px;
            }



/*---------------------Links---------------------*/

            a{

                color: #c86;
                text-decoration: none;
                text-transform: uppercase;
                letter-spacing: 2px;

            }

            
            a:hover {
                
                color: gold;
                border-bottom: 1px dotted;
            }

           



/*---------------------Nav---------------------*/


            nav {
                
                border-top: 1px solid #333;
                border-bottom: 1px solid #333;
    
    
            }


            nav ul {

                text-align: center;
                letter-spacing: 2px;
            }

            nav ul li {

                display: inline;
                margin: 20px;
            }


/*---------------------Footer---------------------*/


            footer {
                
                font-size: .9em;
                line-height: 1.5em;
                padding 2em;
                border-top: 1px solid #333;
                border-bottom: 1px solid #333;
                text-align: left;
                

            }


            

